<section class="cards">
    <div class="card">
        <div class="card__header d-flex justify-content-center position-relative" style="background-color: #f7f9fb;">
          <img src="assets/phone4.svg" class="card-img-top card__img" alt="Imagem do Produto">
          <i class="fa fa-heart position-absolute" style="top: 10px; right: 10px; font-size:24px"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title d-inline">Phone Gamer</h5>
          <p class="d-inline float-right">R$100.00</p>
          <p class="card-text">Com certificação IPX8</p>
          <div>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            (120)
          </div>
          <a href="#" class="btn btn-primary mt-2">Adicionar ao Carrinho</a>
        </div>
      </div>
      <div class="card">
        <div class="card__header d-flex justify-content-center position-relative" style="background-color: #f7f9fb;">
          <img src="assets/phone3.svg" class="card-img-top card__img" alt="Imagem do Produto">
          <i class="fa fa-heart position-absolute" style="top: 10px; right: 10px; font-size:24px"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title d-inline">Phone Gamer</h5>
          <p class="d-inline float-right">R$100.00</p>
          <p class="card-text">Com certificação IPX8</p>
          <div>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            (120)
          </div>
          <a href="#" class="btn btn-primary mt-2">Adicionar ao Carrinho</a>
        </div>
      </div>
      <div class="card">
        <div class="card__header d-flex justify-content-center position-relative" style="background-color: #f7f9fb;">
          <img src="assets/phone2.svg" class="card-img-top mx-auto card__img" alt="Imagem do Produto">
          <i class="fa fa-heart position-absolute" style="top: 10px; right: 10px; font-size:24px"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title d-inline">Phone Gamer</h5>
          <p class="d-inline float-right">R$100.00</p>
          <p class="card-text">Com certificação IPX8</p>
          <div>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            (120)
          </div>
          <a href="#" class="btn btn-primary mt-2">Adicionar ao Carrinho</a>
        </div>
      </div>

      <div class="card">
        <div class="card__header d-flex justify-content-center position-relative" style="background-color: #f7f9fb;">
          <img src="assets/phone1.svg" class="card-img-top card__img" alt="Imagem do Produto">
          <i class="fa fa-heart position-absolute" style="top: 10px; right: 10px; font-size:24px"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title d-inline">Phone Gamer</h5>
          <p class="d-inline float-right">R$100.00</p>
          <p class="card-text">Com certificação IPX8</p>
          <div>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            <i class="fa fa-star" style="color:gold;"></i>
            (120)
          </div>
          <a href="#" class="btn btn-primary mt-2">Adicionar ao Carrinho</a>
        </div>
      </div>
      
      
</section>
