<section class="apresentacao">
    <div class="apresentacao__texto">
        <h1>Ganhe até 50% de desconto <br> nos fones de ouvido gamer </h1>
        <a class="btn" href="">COMPRAR AGORA</a>
    </div>
    <img class="apresentacao__img" src="assets/mulher-phone.png" alt="Mulher usando nossos produtos">
</section>
<section class="migalhas">
    <p class="migalhas__texto">Tipos <span class="material-symbols-outlined">expand_more</span></p>
    <p class="migalhas__texto">Preço <span class="material-symbols-outlined">expand_more</span></p>
    <p class="migalhas__texto">Material <span class="material-symbols-outlined">expand_more</span></p>
    <p class="migalhas__texto">Cor <span class="material-symbols-outlined">expand_more</span></p>
</section>
<h2>Headphones para você!</h2>
