footer {
    margin-top: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: black;
}
h3, h4, h6 {
    font-size: 1rem;
    color: white;
    font-family: Nunito;
    font-weight: 700;
}
.footer__texto {
    font-size: 1rem;
    color: white;
    font-weight: 300;
    font-family: Nunito; 
}